*{
  box-sizing: border-box;
}

body{
  background-color: #212121;
  color: #fff;
}
#switch{
  opacity: 0;
}
#switch{
  position: absolute;
}
.container label{
  height: 15px;
  width: 40px;
  background-color: gray;
  display: flex;
  align-items: center;
  border-radius: 20px;
  position: relative;
  padding: 2px;
  
}


#switch:checked + label{
  background-color: purple;
}

#switch:checked + label .circle{
  left: 99%;
  transform: translate(-115%);
}
.circle{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 100%;
  transition: all 0.2s ease-in-out;
  position: absolute;
  left: 2px;
}